.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  position: relative !important;
  background-color: white;
  width: 50vw;
  height: 450px;
}

.result-modal--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-modal--body {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}
